<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form method="POST" action="{{ url_for('site.education') }}">
        {{ education_form.hidden_tag() }}
        <div id="education-forms">
            <div class="education-form">
                <div>{{ education_form.university.label }} {{ education_form.university }}</div>
                <div>{{ education_form.location.label }} {{ education_form.location }}</div>
                <div>{{ education_form.degree.label }} {{ education_form.degree }}</div>
                <div>{{ education_form.university_start_date.label }} {{ education_form.university_start_date }}</div>
                <div>{{ education_form.university_end_date.label }} {{ education_form.university_end_date }}</div>
                <div class="add-entry-container">
                    <label for="add_another">Add another Education entry?</label>
                    <div>{{ education_form.add_another() }}</div>
                </div>
            </div>
        </div>
        <button type="submit">Next</button>
    </form>
</body>
</html>
