{% extends 'base.html' %}
{% block content %}
<form class="box" method="POST" action="{{ url_for('site.education') }}">
   {{ education_form.hidden_tag() }}
   <div id="education-forms">
      <div class="education-form">
	<div class="block"> 
	  <div class="block">
            {{ education_form.university.label(class="label") }}
	    {{ education_form.university(class="input", placeholder="Enter University") }}
	  </div>
	  <div class="block">
            {{ education_form.location.label(class="label") }}
	    {{ education_form.location(class="input", placeholder="Enter university location") }}
	 </div>
	 <div class="block">
          {{ education_form.degree.label(class="label") }} 
	  {{ education_form.degree(class="input", placeholder="Enter degree") }}
	</div>
	<div class="block">
          {{ education_form.university_start_date.label(class="label") }} 
	  {{ education_form.university_start_date(class="input", placeholder="Enter university start date") }}
	</div>
	<div class="block">
          {{ education_form.university_end_date.label(class="label") }}
          {{ education_form.university_end_date(class="input", placeholder="Enter university end date") }}
	</div>
	<div class="block">
	  <label for="add_another" class="label">Add another Education entry?</label>
            <div class="select">
	      <select>
	        <option>Yes</option>
	        <option>No</option>
	      </select>
	    </div>
        </div>
      </div>
   </div>
   <div class="block">
     <button class="button is-primary" type="submit" id="next-button">Next
     <span class="icon is-small">
     <i class="fas fa-align-right"></i>
     </span>
     </button>
   </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</form>
{% endblock %}

