<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form method="POST" action="{{ url_for('site.userinfo') }}">
        {{ user_form.hidden_tag() }}
        <div id="userinfo-forms">
            <div class="userinfo-form">
                <div>{{ user_form.full_name.label }} {{ user_form.full_name }}</div>
                <div>{{ user_form.phone_number.label }} {{ user_form.phone_number }}</div>
                <div>{{ user_form.email.label }} {{ user_form.email }}</div>
                <div>{{ user_form.linkedin.label }} {{ user_form.linkedin }}</div>
                <div>{{ user_form.github.label }} {{ user_form.github }}</div>
            </div>
        </div>
        <button type="submit">Next</button>
    </form>
</body>
</html>
