{% extends 'base.html' %}
{% block content %}
<form class="box" method="POST" action="{{ url_for('site.userinfo') }}">
   {{ user_form.hidden_tag() }}
   <div id="userinfo-forms">
      <div class="userinfo-form">
         <!-- Full Name -->
         <div class="block">
            {{ user_form.full_name.label(class="label") }}
            {{ user_form.full_name(class="input", placeholder="Enter your name") }}
            {% if user_form.full_name.errors %}
            <p class="help is-danger">{{ user_form.full_name.errors[0] }}</p>
            {% endif %}
         </div>
         <!-- Phone Number -->
         <div class="block">
            {{ user_form.phone_number.label(class="label") }}
            {{ user_form.phone_number(class="input", placeholder="Enter Phone Number") }}
            {% if user_form.phone_number.errors %}
            <p class="help is-danger">{{ user_form.phone_number.errors[0] }}</p>
            {% endif %}
         </div>
         <!-- Email -->
         <div class="block">
            {{ user_form.email.label(class="label") }}
            {{ user_form.email(class="input", placeholder="Enter your E-mail address") }}
	    <!--{% if user_form.email.errors %}-->
	    <!--<p class="help is-danger">{{ user_form.email.errors[0] }}</p>-->
	    <!--{% endif %}-->
         </div>
         <!-- LinkedIn -->
         <div class="block">
            {{ user_form.linkedin.label(class="label") }}
            {{ user_form.linkedin(class="input", placeholder="Enter your LinkedIn profile URL (Optional)") }}
         </div>
         <!-- GitHub -->
         <div class="block">
            {{ user_form.github.label(class="label") }}
            {{ user_form.github(class="input", placeholder="Enter your Github profile URL (Optional)") }}
         </div>
      </div>
   </div>
   <div class="block">
      <button class="button is-primary" type="submit" id="next-button">Next
      <span class="icon is-small">
      <i class="fas fa-align-right"></i>
      </span>
      </button>
   </div>
</form>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

