<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certs Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form method="POST">
        {{ certs_form.hidden_tag() }}
        <div id="certs-forms">
            <div class="certs-form">
                <div>{{ certs_form.certs_list.label }} {{ certs_form.certs_list }}</div>
            </div>
        </div>
        <button type="submit">Next</button>
</body>
</html>