<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Listing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form method="POST", action="{{ url_for('site.job_listing') }}">
        {{ job_listing_form.hidden_tag() }}
        <div id="joblisting-forms">
            <div class="joblisting-form">
                <div>{{ job_listing_form.job_listing_url.label }} {{ job_listing_form.job_listing_url }}</div>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>